{
    "all": true,
    "check-coverage": true,
    "branches": 75,
    "functions": 85,
    "lines": 75,
    "statements": 75,
    "reporter": [
      "text",
      "lcov"
    ],
    "instrument": false,
    "sourceMap": false,
    "require": [
      "babel-register"
    ],
    "include": [
      "src"
    ]
  }